.surveyReview {
  padding: 2rem;
  background: $color-white;
  @include bs;
  font-family: $font-face-secondary;
  font-weight: $font-weight-regular;
  font-size: $font-size-p-regular;
  text-align: center;

  &__content:after {
    content: "";
    display: block;
    width: 20rem;
    height: 1px;
    margin: 0.5em auto 1em;
    background: #77515b;
  }
}
